### Assignment-05 (SET)

    Create an empty set and print it.

In [5]:
empty_set={}
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>

    Create a set that includes a mix of data types (integers, strings, floats).

In [6]:
mix_set={12,13,15,16,"Apple","Android",3.14,19.1}
print(mix_set)

{3.14, 'Apple', 12, 13, 15, 16, 'Android', 19.1}

Access the elements of a set using a loop and print each element.

In [7]:
for element in mix_set:
    print(element)

3.14
Apple
12
13
15
16
Android
19.1

add a new element to a set using the add() method.

In [8]:
mix_set.add("waseem")
print(mix_set)

{3.14, 'Apple', 12, 13, 'waseem', 15, 16, 'Android', 19.1}

Add multiple elements to a set using the update() method.

In [11]:
mix_set.update([100,"GIS", "PU"])
print(mix_set)

{3.14, 'GIS', 4, 5, 100, 'Apple', 12, 13, 'waseem', 15, 16, 'Android', 'apple', 'PU', 19.1}

Remove and return an arbitrary element from a set using the pop() method.

In [1]:
myset = {12,34,56,3,45,67,89,1,6}
print("Actual set:",myset)
popped=myset.pop()
print("Popped item: ",popped)
print("Final set:",myset)

Actual set: {1, 34, 67, 3, 6, 12, 45, 56, 89}
Popped item:  1
Final set: {34, 67, 3, 6, 12, 45, 56, 89}

Remove a specific element from a set using the remove() method.

In [8]:
myset.remove(12)
print(myset)

{1, 34, 67, 3, 6, 45, 56, 89}

Remove a specific element from a set using the discard() method.

In [10]:
myset.discard(1)
print(myset)

{34, 67, 3, 6, 45, 56, 89}

Convert a string to a set of unique characters.

In [9]:
cgis = "centre for GIS PU"
set(cgis)

{' ', 'G', 'I', 'P', 'S', 'U', 'c', 'e', 'f', 'n', 'o', 'r', 't'}

Convert a set of characters to a string.

In [4]:
cgis = "cetre for GIS PU"
unique_characters = set(cgis)
new_string = ''.join(unique_characters)
print(new_string)

UtSrPoIGfec

Use the clear() method to remove all elements from a set.

In [10]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

Use the copy() method to create a shallow copy of a set.

In [13]:
fruits = {"aaple","banana","cherry"}
setr = fruits.copy()
print(setr)

{'aaple', 'cherry', 'banana'}

Use the difference() method to find the difference between two sets.

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'cherry', 'banana'}

Create two sets and find their union.

In [15]:
z = x.union(y)
print(z)

{'cherry', 'apple', 'banana', 'google', 'microsoft'}

    Create two sets and find their intersection.

In [16]:
z = x.intersection(y)
print(z)

{'apple'}

 Create two sets and find their difference.

In [19]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
print("set x:",x)
print("set y:",y)
z = x.difference(y)
print("diffrence is:",z)

set x: {'apple', 'cherry', 'banana'}
set y: {'apple', 'google', 'microsoft'}
diffrence is: {'cherry', 'banana'}

    Create two sets and find their symmetric difference.

In [20]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'google', 'cherry', 'microsoft'}

Check if one set is a subset of another.

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.issubset(y)
print(z)

False

    Check if one set is a superset of another.

In [25]:
z = x.issuperset(y)
print(y)

{'apple', 'google', 'microsoft'}

    Check if two sets are disjoint (have no common elements).

In [26]:
z = x.isdisjoint(y)
print(z)

False