<h1 align="center">Variables</h1>

In [ ]:
first_name = "Muhammad"
first_name
type(first_name)

In [ ]:
name_of_Student = "Waseem"
name_of_Student
type(name_of_Student)

In [ ]:
no_classes = 32
no_classes
type(no_classes)

In [ ]:
math_marks=80
math_marks
type(math_marks)

In [ ]:
math_marks=80
math_marks
type(math_marks)

In [ ]:
classes = 32
classes
type(classes)

In [ ]:
help('for')|#My

In [ ]:
help('keyword')#My

In [ ]:
# True is a keyword, can't be used as variable name
#True = 100

In [ ]:
var = 100
a_var = 50

In [ ]:
@sample = 50
var = 90

In [ ]:

var1 = 25
varaible1 = 530

In [ ]:
# A variable name cannot start with a special character or digit

var = 530
i = 980
t = 80

In [ ]:
a = range(10)
print(a)
print(list(a))

In [ ]:
any = range(20)
print(any)
type(any)

In [ ]:
type(a)

In [ ]:
a = int(10)
print(a)
type(a)

### 4. Assign Multiple values to Multiple variables in one Statement

In [ ]:
#Assigning multiple values to multiple variables
 b, c =  3.2, "Hello"

print ( 'b = ',b,' c = ',c)

In [ ]:
#Assigning multiple values to multiple variables
math, phy, chem = 60, 87, 55

print ('math = ',math,' phy = ',phy,' chem = ',chem)

### 5. To Check the Type of a Variable

In [ ]:
# to check the type of variable
name = "Waseem"
print(type(name))
Alphabet = "abc"
print(type(Alphabet))
x = 50
print(type(x))
length = 5.321
t=565

print(type(t))
print("length is of ", type(length))

In [ ]:
# to check the type of variable
student = "Waseem"
print("student name is of ", type(student))
school = "APS"
print("school is of ", type(school))
y = 5.321
print("y is of ", type(y))

### 6. To Check the ID of a Variable

In [ ]:
name = "waseem"
classm = "Mphil"
roll="one"

id(name), id(classm),id(roll)

### 7. Do we actually store data inside variables

In [ ]:
c = 50
d = 50
id(a), id(b)

In [ ]:
a = 10
b = 10
id(a), id(b)

In [ ]:
subject = "GIS"
id(subject)

In [ ]:
dept = "center for GIS"
id(dept)

In [ ]:
country = "pakistan"
id(country)

In [ ]:
city = "Lahore"
id(city)

In [ ]:
print(dir())

In [ ]:
newvar = 10
print("newvar=", newvar)

In [ ]:
print(dir())

In [ ]:
del length
print(dir())

In [ ]:
import math
print(dir(math))

In [ ]:
import pandas
print(dir(pandas))

In [ ]:
name = "waseem"
print(type(name))

In [ ]:
name = "Waseem"
print(type(name))
Alphabet = "abc"
print(type(Alphabet))