### Assignment-05 (Tuple)

    Create an empty tuple and print it.

In [27]:
tuple_gis = tuple()
print(tuple_gis)
print(type(tuple_gis))

()
<class 'tuple'>

    Create a tuple of your favorite fruits and print it.

In [28]:
fruits = ("apple", "banana", "cherry","orange","Water Melon","Peach") 
print(fruits)

('apple', 'banana', 'cherry', 'orange', 'Water Melon', 'Peach')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [29]:
all_tuple = (42,43,44, "Mphil","23", 3.14, "CGIS", 7)
print(all_tuple)

(42, 43, 44, 'Mphil', '23', 3.14, 'CGIS', 7)

  Access the first element of a tuple.

In [30]:
print(all_tuple[0])

42

    Access the last element of a tuple.

In [31]:
print(all_tuple[7])

7

Access the second and third elements of a tuple.

In [32]:
print(all_tuple[1:3])

(43, 44)


    Slice a tuple to extract the first three elements.

In [33]:
tup = (1, 2, 3, 4, 5)
print(tup[:3])

(1, 2, 3)

Slice a tuple to extract the last three elements.

In [34]:
tup = (1, 2, 3, 4, 5)
print(tup[2:])

(3, 4, 5)

   Slice a tuple to get every second element.

In [35]:
print(tup[::2])

(1, 3, 5)

    Reverse a tuple using slicing.

In [36]:
print(tup[::-1])

(5, 4, 3, 2, 1)

Create two tuples and concatenate them.

In [37]:
tuple_Alph = ("a", "b" , "c")
tuple_no = (1, 2, 3)
tuple_sum = tuple_Alph+ tuple_no
print(tuple_sum)

('a', 'b', 'c', 1, 2, 3)

    Repeat a tuple multiple times using the repetition operator.

In [46]:
tup = (11, 14, 0)
my_result = ((tup, ) * 3)
print(my_result)

((11, 14, 0), (11, 14, 0), (11, 14, 0))

Find the index of a specific element in a tuple using the index() method.

In [49]:
animals = ('cat', 'dog', 'rabbit', 'horse','horse')
index = animals.index('horse')
print(index)

3

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [51]:
tup = ('a', 'a', 'a', 'b', 'b', 'a', 'c', 'b') 
print(tup.count('a'))

4

Sort a tuple of numbers in ascending order.

In [52]:
a = (2, 4, 3, 5, 1)
a = tuple(sorted(a))
print(a)

(1, 2, 3, 4, 5)

    Sort a tuple of strings in alphabetical order.

In [53]:
sorted_animals = sorted(animals)
print(sorted_animals)

['cat', 'dog', 'horse', 'rabbit']

Sort a tuple of tuples based on the second element of each inner tuple.

In [61]:
sample = [('waseem', 76), ('Mphil', 78), ('GiS', 77), ('PU', 79)]
sample.sort(key=lambda a: a[1])
print(sample)

[('waseem', 76), ('GiS', 77), ('Mphil', 78), ('PU', 79)]

Compare two tuples to see if they are equal in both value and identity.

In [2]:
tuple1 = (1,2,3)
tuple2 = (4,5,6,7)
print( tuple1 < tuple2 )

True

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [20]:
import copy
Tup1 = (1, 2, 3, 4)
Tup2 = copy.copy(Tup1)
print('ID of Old List:', id(Tup1))
print('ID of New List:', id(Tup2))

ID of Old List: 2115795976416
ID of New List: 2115795976416

In [21]:
Tup2[3] = "GIS"
print('\nOld Tup:', Tup1)
print('New Tup:', Tup2)

TypeError: 'tuple' object does not support item assignment

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [23]:
import copy
Tup1 = (1, 2, 3, 4)
Tup2 = copy.deepcopy(Tup1)
print('ID of Old List:', id(Tup1))
print('ID of New List:', id(Tup2))

ID of Old List: 2115796205712
ID of New List: 2115796205712

In [24]:
Tup2[3] = "GIS"
print('\nOld Tup:', Tup1)
print('New Tup:', Tup2)
#Tuple is imuteable

TypeError: 'tuple' object does not support item assignment

    Pickle a tuple and save it to a file.

In [10]:
import pickle


my_tuple = ('cat', 'dog', 'rabbit', 'horse','horse')
file_path = 'my_tuple.pkl'
with open(file_path, 'wb') as file:
    pickle.dump(my_tuple, file)
print(f'Tuple pickled and saved to {file_path}')

Tuple pickled and saved to my_tuple.pkl

    Unpickle a tuple from a file and display its content.

In [11]:
import pickle

file_path = 'my_tuple.pkl'
with open(file_path, 'rb') as file:
    loaded_tuple = pickle.load(file)
print(f'Tuple loaded from {file_path}: {loaded_tuple}')

Tuple loaded from my_tuple.pkl: ('cat', 'dog', 'rabbit', 'horse', 'horse')