<h1 align="center">Numbers</h1>

In [ ]:
name ="waseem"
session =23
dept ="CGIS"
print(type(name))
print(type(session))
print(type(dept))

In [ ]:
marks = 10
tree = 20.5
t = complex(3, 2)  
y = 3 + 2j
city = True
print(type(marks))
print(type(tree))
print(type(t))
print(type(y))

In [ ]:

marks = 10 < 100
print(marks)
print(type(marks))

In [ ]:
"""
boolean data type in Python?
In Python, True represents the value as 1 and False as 0. 
"""
x = (-1 == True)
y = (1 == False)
print("x is", x)
print("y is", y)

In [ ]:
# Booleans are automatically converted to `int`s when used in arithmetic operations. 
# `True` is converted to `1` and `False` is converted to `0`.
start = True + 9
end = False + 15

print("start:", start)
print("end:", end)

In [ ]:
bool(0)

In [ ]:
bool(0.0)

In [ ]:
bool(None)

In [ ]:
bool("")

In [ ]:
bool([])

In [ ]:
var1 = None

In [ ]:
type(var1)

In [ ]:
# format to declare a comples number: z = complex(real_part, imaginary_part)
comp1 = complex(3, 4)  # 3 + 4j
comp2 = complex(1, -2) # 1 - 2j
print(comp1)
print(comp2)

In [ ]:
result = comp1 + comp2
result

### 2. Issues with Float data types

In [ ]:
'''
Floating-point numbers are stored in computer hardware in IEEE-754 format
Be watchful while performing various operations on floating point numbers
'''
a = 3.3
b = 1.0 + 2.0
c = (a == b)
a, b, c

In [ ]:
num = 3.3
num1 = 1.0 + 2.0
num==num1

In [ ]:
num,num1

In [ ]:
num*num1

### a. Implicit Type Conversion

In [ ]:
total = 2 + 3
estimate = 2 + 3.0
type(total), type(estimate)

In [ ]:
max1 = 3 * 5
max2 = 3 * 5.0
type(max1), type(max2)

In [ ]:
a = 4/2
b = 4/2.0
max1 = 3 * 5
max2 = 3 * 5.0
total = 2 + 3
estimate = 2 + 3.0

type(a), type(b) ,type(max1), type(max2) ,type(total), type(estimate)

In [ ]:
a = 4/4
b = 4/2.4
c = 3 * 5
d = 3 * 5.7
e = 1 + 3
f = 3 + 3.0
type(a), type(b) ,type(c), type(d) ,type(e), type(f)

####  Convert to Integer using ` int (a)`  function

In [ ]:
x = '21'
type(x), x

In [ ]:
y = int(x)
type(y), y

In [ ]:
z = bool(-5)
type(z), z

In [ ]:
# You can also use hex() and oct() functions
print(hex(21))
print(oct(21))

####  Convert to Float  using  `float (a)` function

In [ ]:
s = 54
type(s), s

In [ ]:
w = float(s)
type(w), w

In [ ]:
# Note that a and be are two different objects
id(s), id(w)

####  Convert an Integer to a String  using  `str (a)`  function

In [ ]:
num = 341
type(num), num

In [ ]:
mystr = str(num)
type(mystr), mystr

####  Convert two Floats to Complex Data type  using  `complex (a, b)`  function

In [ ]:
first = 2.6
second = 3.2
final = complex(first,second)
type(final), final

In [ ]:
nm = "office"
type(nm), nm

In [ ]:
nm = ()
type(nm), nm