##  Lists

In [7]:


fruits = ["orange","bannana","grapes","peach"]  
print(fruits)

marks = [70, 90, 42, 44 ]  
print(marks)

['orange', 'bannana', 'grapes', 'peach']
[70, 90, 42, 44]

In [9]:

check=[1,2,3.5,7,"Done"]
print(check)

[1, 2, 3.5, 7, 'Done']

In [10]:

List_complete = ["waseem", 90, 5.5, [10,'Ali']]
print(List_complete)

['waseem', 90, 5.5, [10, 'Ali']]

In [4]:

empty_list = []
print (empty_list)

[]

In [11]:

no = [1,2,3,4,5]
mix = ["Arif", 30, 5.5, [10,'rauf']]
empty_box = []

print(no, mix, empty_box, sep='\n')

[1, 2, 3, 4, 5]
['Arif', 30, 5.5, [10, 'rauf']]
[]

In [12]:
no = [1,2,3,4,5]
mix = ["Arif", 30, 5.5, [10,'rauf']]
empty_box = []

print(no, mix, empty_box)

[1, 2, 3, 4, 5] ['Arif', 30, 5.5, [10, 'rauf']] []

##  Proof of concepts

In [16]:
Diff = ["waseem","GIS","PU" ,100,80]
print("Diff: ", Diff)

Diff:  ['waseem', 'GIS', 'PU', 100, 80]

In [17]:
same = [1, 2, 3]
same = [1, 2, 3]
id(same), id(same), same is same, same==same

(1550996274432, 1550996274432, True, True)

In [18]:
time = [1, 2, 3]
hours = [2, 3, 1]
id(time), id(hours), time is hours

(1550996761984, 1550996532672, False)

###  Lists are mutable

In [9]:
numbers = [10, 20, 30, 40, 50]
numbers[2] = 555
print("numbers: ", numbers)

numbers:  [10, 20, 555, 40, 50]

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers[2] = 555
print("numbers: ", numbers)

numbers:  [10, 20, 555, 40, 50]

###  Lists can have duplicate emements

In [19]:

names = ['waseem', 'Usama', 'Junaid', 'Atif', 'Rehan']
print(names)

['Arif', 'Rauf', 'Hadeed', 'Arif', 'Mujahid']

In [20]:
books = ['Bio', 'Bio', 'CS', 'Maths', 'Maths']
print(books)

['Bio', 'Bio', 'CS', 'Maths', 'Maths']

###  Lists can be nested to arbitrary depth

In [22]:

In_a = [1,2,3,[4,5],[6,7,8,9],10,11]

in_b = [1,2,3,[4,5,[6,7,8,[9,10,11]]]]
In_a, in_b

([1, 2, 3, [4, 5], [6, 7, 8, 9], 10, 11],
 [1, 2, 3, [4, 5, [6, 7, 8, [9, 10, 11]]]])

###  Packing and Unpacking Lists

In [25]:

Dept = ['centre', 'for', 'GIS', 'PU', 'Lahore']
a, b, c, d, e = Dept
print (a, c, e)
print(type(a))

centre GIS Lahore
<class 'str'>

In [27]:

unpac = a,b,c,d,e
dept1 = list(unpac)
print(dept1)
print(type(dept1))

['centre', 'for', 'GIS', 'PU', 'Lahore']
<class 'list'>

##  access elements of a list

In [30]:

name = ["waseem", 40, 5.5, [10,'PU']]
print(name[3])
print(name[0][2])              
print(name[3][1]) 
print(name[-1])

[10, 'PU']
s
PU
[10, 'PU']

##  Slicing Lists

In [31]:
words = ['a','b','c','d','e','f','g','h','i']
words

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [32]:
words[::]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [33]:
words[3:]

['d', 'e', 'f', 'g', 'h', 'i']

In [34]:
words[:4]

['a', 'b', 'c', 'd']

In [35]:
words[2:5]

['c', 'd', 'e']

In [37]:
words[:-2]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [36]:
words[-1]

'i'

In [38]:

words = ['a','b','c','d','e','f','g','h','i']
print(words[::])  
print(words[::1]) 
print(words[::2]) 
print(words[::3])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
['a', 'c', 'e', 'g', 'i']
['a', 'd', 'g']

In [13]:
list1 = ['a','b','c','d','e','f','g','h','i']

print(list1[::3])
print(list1[3:6])
print(list1[2:8:-1])
print(list1[-1:-3:-1])

['a', 'd', 'g']
['d', 'e', 'f']
[]
['i', 'h']

###  Concatenating Lists

In [1]:

food_item1 = ['fruits', 'bread', 'veggies'] 
food_items2 = ['meat', 'spices', 'burger']
food = food_item1 + food_items2
print(food)

['fruits', 'bread', 'veggies', 'meat', 'spices', 'burger']

###  Replicating Lists

In [3]:
# use list * n syntax to create large lists by repeating the list n times
name = ['waseem', 'Hadeed', 'Naeem']
m = name * 3
print(m)

['waseem', 'Hadeed', 'Naeem', 'waseem', 'Hadeed', 'Naeem', 'waseem', 'Hadeed', 'Naeem']

###  Modifying/Adding elements to a list using [ ] operator

In [5]:
mydept = ['PUCIT', 'GIS', 2, 5, 7]

mydept[1] = 'Punjab University'
mydept

['PUCIT', 'Punjab University', 2, 5, 7]

In [7]:

mydept = ['PUCIT', 'GIS', 2, 5, 7]
mydept[0:2] = ['Geography', 'Geology']

['Geography', 'Geology', 2, 5, 7]

###  Adding elements to a list using `list.append(value)` method

In [39]:
list1 = []
help(list1.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [1]:
Marks = [78, 89, 55, 58]
Marks.append(78.5)
Marks.append(89.5)
Marks

[78, 89, 55, 58, 78.5, 89.5]

### Adding elements to a list using `list.extend(sublist)` method

In [2]:
rs = [2, 4, 6, 8]
rs.extend([4, 5])
rs

[2, 4, 6, 8, 4, 5]

In [3]:

fruits = ['apple', 'banana', 'cherry']
vegs = ['potato', 'tomato', 'radish']
fruits.extend(vegs)
fruits

['apple', 'banana', 'cherry', 'potato', 'tomato', 'radish']

### Adding elements to a list using `list.insert(index, value)` method

In [45]:
list1 = []
help(list1.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [8]:
myfamily = ["Waseem", 'Ali', 'Hadeed']
print("\nOriginal family list: ", myfamily)
myfamily.insert(6,'Arif')
print("After insert: ", myfamily)

Original family list:  ['Waseem', 'Ali', 'Hadeed']
After insert:  ['Waseem', 'Ali', 'Hadeed', 'Arif']

In [47]:

myfamily = ["Farooq", 'Rauf', 'Arif']
myfamily.insert(2,['Maaz','Mohid'])
myfamily

['Farooq', 'Rauf', ['Maaz', 'Mohid'], 'Arif']

## Removing elements from a list using `list.pop()` and `list.remove()` methods

###  Removing element from a List using `list.pop(index)` method

In [9]:
listpu = ['Punjab', 'University', 'Lahore', 'Located', 'Near', 'Canal']
print("Original list: ", listpu )
first  = listpu .pop()
print("\nAfter pop(): ", listpu )
print("Element popped is: ", first)

Original list:  ['Punjab', 'University', 'Lahore', 'Located', 'Near', 'Canal']

After pop():  ['Punjab', 'University', 'Lahore', 'Located', 'Near']
Element popped is:  Canal

In [10]:
second = listpu .pop(2)
print("\nAfter pop(2): ", listpu )
print("Element popped is: ", second)

After pop(2):  ['Punjab', 'University', 'Located', 'Near']
Element popped is:  Lahore

In [11]:
third = listpu .pop(-2)
print("\nAfter pop(-2): ", listpu )
print("Element popped is: ", third)

After pop(-2):  ['Punjab', 'University', 'Near']
Element popped is:  Located

###  Removing element from a list using `list.remove(val)` method

In [16]:
listGIS = ['Punjab', 'University', 'Lahore', 'Located', 'Near', 'Canal']
print("Original list: ", listGIS )
first  = listGIS .remove('Lahore')
print("\nAfter removed('Lahore'): ", listGIS )
print("Element Removed is: ", first)

Original list:  ['Punjab', 'University', 'Lahore', 'Located', 'Near', 'Canal']

After removed('Lahore'):  ['Punjab', 'University', 'Located', 'Near', 'Canal']
Element Removed is:  None

###  Using `list.clear()` method to remove all the list elements

In [17]:
listGIS = ['Punjab', 'University', 'Lahore', 'Located', 'Near', 'Canal']
listGIS.clear()
print("\nAfter clear() the list becomes empty: ", listGIS)

After clear() the list becomes empty:  []

In [57]:
# use del keyword to delete one or more list items by using index or to delete the list entirely from memory
list3 = [1,2,3,4,5,6,7,8,9]
del list3[3:6]
list3

[1, 2, 3, 7, 8, 9]

In [58]:
# use del keyword to delete one or more list items by using index or to delete the list entirely from memory
list3 = [1,2,3,[53, 41, 99, 12], 8,9]
print("\nOriginal list", list3)
del list3[3]
print("After del list1[3] the list becomes", list3)

Original list [1, 2, 3, [53, 41, 99, 12], 8, 9]
After del list1[3] the list becomes [1, 2, 3, 8, 9]

In [59]:
#to delete entire list
mylist = ['learning', 'is', 'fun', 'with', 'arif', 'butt']
del mylist
#mylist

##  Converting String object to List and vice-versa

###  Type Casting

In [19]:

school = 'School days was good days'    
print("Original string: ", school, "and its type is:  ", type(school))
conv = list(school)
print("conv: ", conv, "and its type is:  ", type(conv))

Original string:  School days was good days and its type is:   <class 'str'>
conv:  ['S', 'c', 'h', 'o', 'o', 'l', ' ', 'd', 'a', 'y', 's', ' ', 'w', 'a', 's', ' ', 'g', 'o', 'o', 'd', ' ', 'd', 'a', 'y', 's'] and its type is:   <class 'list'>

###  Use `str.split()` to Split a string into list

In [25]:
stringa = 'Learning is fun'   
lista = stringa.split()
lista

['Learning', 'is', 'fun']

In [26]:
strb = "Football ground of PUCIT located near Suparco wall"  
listb = strb.split('c')
listb

['Football ground of PUCIT lo', 'ated near Supar', 'o wall']

### c. Use `str.join()` to Join list into a string

In [28]:
gstr = ['PULSE', 'offering', 'many', 'GIS', 'oppertunities', 'for', 'everyone']
gstr

['PULSE', 'offering', 'many', 'GIS', 'oppertunities', 'for', 'everyone']

In [35]:
gstr2 = ' '.join(gstr)
print(gstr2)
print(type(gstr2))

PULSE offering many GIS oppertunities for everyone
<class 'str'>

In [36]:
tag = " # "
gstr3 = tag.join(gstr)
print(gstr3)
print(type(gstr3))

PULSE # offering # many # GIS # oppertunities # for # everyone
<class 'str'>

###  Some Built-in Functions that can be used on Lists

In [37]:
list_age = [20, 51, 26, 19, 22, 25, 45]

print("length of age: ", len(list_age))
print("max element in age: ", max(list_age))
print("min element in age: ",min(list_age))
print("Sum of element in age: ",sum(list_age))

length of age:  7
max element in age:  51
min element in age:  19
Sum of element in age:  208

## Simple Assignment (aliasing) vs Shallow Copy vs Deep Copy

###  Aliasing: Making an Alias of a List object using simple Assignment `=` Operator

In [40]:
Num_list = [1, 2, 3, 4, 5, 6]
Num_list1 = Num_list

print('ID Old :', id( Num_list))
print('ID New:', id( Num_list1))

ID Old : 2498429537792
ID New: 2498429537792

In [39]:

Num_list1[2] = 9

print('\nOld List:', Num_list)
print('New List:', Num_list1)

Old List: [1, 2, 9, 4, 5, 6]
New List: [1, 2, 9, 4, 5, 6]

###  Shallow Copy

In [42]:
Num_list = [1, 2, 3, 4, 5, 6]
Num_list1 = Num_list[:]

print('ID Old :', id( Num_list))
print('ID New:', id( Num_list1)) #diffrent memory

ID Old : 2498429537088
ID New: 2498429537472

In [3]:
Num_list = [1, 2, 3, 4, 5, 6]
Num_list1 = Num_list[:]
Num_list[2] = 9

print('\nOld List:', Num_list)
print('New List:', Num_list1)

Old List: [1, 2, 9, 4, 5, 6]
New List: [1, 2, 3, 4, 5, 6]

In [5]:

import copy
Num_list = [1, 2, 3, 4]
Num_list1 = copy.copy(Num_list)


print('ID New:', id(Num_list))
print('ID old:', id(Num_list1))

ID New: 2406419176576
ID old: 2406419074816

In [77]:
S
list2[3] = 'a'

print('\nOld List:', list1)
print('New List:', list2)

Old List: [1, 2, 3, 4]
New List: [1, 2, 3, 'a']

In [10]:
Num_list = [1, 2, 3, 4, 5, 6]
Num_list1 = copy.copy(Num_list)
Num_list1[2] = 'AS'

print('\nOld List:', Num_list)
print('New List:', Num_list1)#not added in both

Old List: [1, 2, 3, 4, 5, 6]
New List: [1, 2, 'AS', 4, 5, 6]

In [12]:

original_dict = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
shallow_copy_dict = copy.copy(original_dict)


print('ID old:', id(original_dict))
print('ID new:', id(shallow_copy_dict))

ID old: 2406419320704
ID new: 2406419781312

In [14]:

shallow_copy_dict[2][2] = 'SC'


print('\nOld List:', original_dict)
print('New List:', shallow_copy_dict)

Old List: [[1, 2, 3], [4, 5, 6], [7, 8, 'SC']]
New List: [[1, 2, 3], [4, 5, 6], [7, 8, 'SC']]

###  Deep Copy: Making a Copy of an Object using `copy.deepcopy()` Method

In [17]:

original_list = [1, [2, 3], [4, [5, 6]]]


deep_copy_list = copy.deepcopy(original_list)


#deep_copy_list[1][0] = 99


print("Original list:", original_list)
print("Deep copy list:", deep_copy_list)
print('Original list ID:', id(original_list))
print('Deep copy list ID:', id(deep_copy_list))

Original list: [1, [2, 3], [4, [5, 6]]]
Deep copy list: [1, [2, 3], [4, [5, 6]]]
Original list ID: 2406419993856
Deep copy list ID: 2406420002816

In [19]:
deep_copy_list[1][1] = 'a'
print("Original list:", original_list)
print("Deep copy list:", deep_copy_list)

Original list: [1, [2, 3], [4, [5, 6]]]
Deep copy list: [1, [2, 'a'], [4, [5, 6]]]

In [81]:

new_list[2][2] = 'a'


print('\nOld List:', old_list)
print('New List:', new_list)

Old List: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New List: [[1, 2, 3], [4, 5, 6], [7, 8, 'a']]