<h1 align="center">Python Strings</h1>

In [3]:
country = "Hello Pakistan"
print(country)

asia = "SAARC have major Seven Countries"
print(asia)

pocket = ""
print(pocket)

grade = "A"
print(grade)

Hello Pakistan
SAARC have major Seven Countries

A

In [7]:
mobile = 'Hall Road is famous for mobile parts'
print(mobile)

Hall Road is famous for mobile parts

In [8]:
# triple quotes string can extend multiple lines

school = """Govt High School is 
            Located in the heart of 
            Lahore City"""
print(school)

city = '''Lahore is the second largest 
city in Pakistan after 
Karachi and 26th largest in the world, 
with a population of over 13 million'''
print(city)

Govt High School is
            Located in the heart of
            Lahore City
Lahore is the second largest
city in Pakistan after
Karachi and 26th largest in the world,
with a population of over 13 million

In [9]:

river = """The Ravi River is a 
transboundary river 
crossing northwestern India and 
eastern Pakistan"""
print(river)

The Ravi River is a
transboundary river
crossing northwestern India and
eastern Pakistan

## 2. Accessing Characters of a String in Python

In [12]:

my_string = "Hello, World!"


first_char = my_string[0]  
second_char = my_string[1]  


last_char = my_string[-1] 
second_to_last_char = my_string[-2]  


print("First character:", first_char)
print("Second character:", second_char)
print("Last character:", last_char)
print("Second-to-last character:", second_to_last_char)

First character: H
Second character: e
Last character: !
Second-to-last character: d

In [14]:
str = 'The M-2 is 375 km long and located entirely in Punjab'
print('str = ', str)
str='Lahore Located in north of Punjab having fog issues from past 20 years'
print('str=', str)

str =  The M-2 is 375 km long and located entirely in Punjab
str= Lahore Located in north of Punjab having fog issues from past 20 years

In [ ]:
dir()

## 3. Strings are Immutable

In [ ]:
help(str)

In [18]:

Name = 'Waseem'
print(id(str1))
level = 'Mphil23'
print(id(str1))
speak = 'urdu'
print(id(speak))

3106821487664
3106821487664
3106829307120

In [19]:
intro = 'MPhilsection2023newadmission'

print(intro[0:4]) 
print(intro[:4]) 
print(intro[11:16])

MPhi
MPhi
n2023

In [ ]:
day = 'Saturdayisnotworkingday'
print(day[::]) 
print(day[::1])  
print(day[::2])

In [23]:
reverse = '9876543210'
print(reverse[::-1]) 
print(reverse[5:1:-1])

0123456789
4567

## 5. String Concatenation

In [2]:
call = 'when your'
asia ='call not responded'
combine = call + asia
print('call + asia = ', combine)

call + asia =  when yourcall not responded

## 6. Creating Large strings

In [27]:
book = 'math'
print('math * 50 =', book * 50)

buffer_dist = 'dist' * 2
print(buffer_dist)

math * 50 = mathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmathmath
distdist

In [ ]:
"waseem"*100

In [ ]:
help(len)

In [29]:

num_of = [1,2,3,4,5,6,7,8,9,10,11,12,11,13,14,15,16,17,18,19,20]

len(num_of)

21

In [31]:
river = 'Ravi river is located near Lahore city'
print('Orignial string = ', river)

rv = len(river)
print('len(river) = ', rv)

Orignial string =  Ravi river is located near Lahore city
len(river) =  38

In [33]:
original_string = "Waseem"
stripped_string = original_string.strip()

print("Original string:", repr(original_string))  
print("Stripped string:", repr(stripped_string))

Original string: 'Waseem'
Stripped string: 'Waseem'

### c. The `str.startswith()` method
The `str.startswith()` method return True if str starts with the specified prefix, False otherwise.
```
str.startswith(prefix[, start[, end]])
```

In [34]:
str1="DS"
help(str1.startswith)

Help on built-in function startswith:

startswith(...) method of builtins.str instance
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

In [35]:
saying = "spread love everywhere you go"

rv = saying.startswith('spread')
print(rv)

rv = str1.startswith('waseem')
print(rv)

True
False

In [36]:
str1="DS"
help(str1.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [38]:
str1 = 'new university campus has many departments'
imp = str1.split()
print(imp)
print(type(imp))

['new', 'university', 'campus', 'has', 'many', 'departments']
<class 'list'>

In [39]:
my_university = 'new university campus has many departments'
my_university = 'along canal road '
rv = my_university.split(sep='i')
print(rv)
print(type(rv))

['along canal road ']
<class 'list'>

In [40]:
str1="DS"
help(str1.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [42]:
my_objective = "L e a r n i n g a n d o n l y L e a r n i n g "
my_objective.split(' ')

['L',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g',
 'a',
 'n',
 'd',
 'o',
 'n',
 'l',
 'y',
 'L',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g',
 '']

In [43]:

gis = ['centre', 'for', 'GIS', 'near', 'suparco']


mydept = ' '.join(gis)

print(mydept, type(mydept))

centre for GIS near suparco <class 'str'>

In [45]:
work = 'The United Nations agency working to promote health'
print(work.find('agency'))
print(work.find('health'))


print(work.find('U',2)) 
print(work.find('s',2))

19
45
4
17

In [46]:
str1="DS"
help(str1.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [ ]:
print("tax".replace("a","e"))

In [48]:
project = 'BOR introducing new Projects'
newproject = project.replace('BOR', 'Punjab Govt')
print(project)
print(newproject)

BOR introducing new Projects
Punjab Govt introducing new Projects

In [49]:
#Example 1:
height = 172 ;    name="waseem"

print("Mr. {}, you have {} cm height." .format(name, height))

Mr. waseem, you have 172 cm height.

In [54]:
name = "Muhammad Waseem"
cost = 100
discount = 0.4
bill = cost - cost * discount

print("Mr. {0}, your total cost is {1}, percentage discount is {2}, and bill is {3}" 
      .format(name, cost, discount, bill))

Mr. Muhammad Waseem, your total cost is 100, percentage discount is 0.4, and bill is 60.0

### Comparing two strings using `is` operator and `==` operator

In [ ]:

mess = 'fine'
location = 'Abbotabad'
id(a), id(b)

In [61]:

river = 'ravi'
canal = 'feeder'
print (river is canal) 
print (river == canal) 


print(river is not canal)
print (river != canal)

False
False
True
True

### String Membership test using `in` operator

In [59]:
'o' in 'world'

True

In [58]:
'ts' not in 'continents'

False